.position-sticky {
    position: sticky;

}
.navigation, #chk-burger {
    display: none;
    position: fixed;
    right: 10px;
    top: 70px;
}
.navigation__bouton {
    position: fixed;
    top: 10px;
    right: 10px;
}   
#chk-burger:checked ~ .navigation {
    display: block;

}
.navigation a {
    display: block;
    background-color: rgba(0, 0, 0, 0.551);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-decoration: none;
    padding: 3px;
    margin: 5px;
}
/*Formulaire*/
.formulaire {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    font-size: 18px;
    padding-left: 400px;
    bottom: 20px;
}
.formulaire__div {
    margin: 10px 0;
}
.formulaire__label {
    display: block;
}
.formulaire__input{
    margin: 10px 0;
}
img {
    border-radius: 2px 3px grey;
}