

/* ---------- GOOGLE FONTS ---------- */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@400;500;600&display=swap');

/* ---------- CONTENEUR GLOBAL RECETTES ---------- */
.global {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f8e9b0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* -Section recette */
#recette {
    height: auto;
    min-height: auto;
}


/*article recette*/
.recette {
    display: grid;
    grid-template-columns: 1fr 1fr 260px;
    gap: 30px;
    margin-bottom: 50px;
    padding-bottom: 40px;
    border-bottom: 6px dotted rgba(0,0,0,0.25);
}

/* blocs */
.recette__div h2 {
    font-family: 'DynaPuff', cursive;
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.recette__div h3 {
    margin: 15px 0 8px;
    font-size: 1.1rem;
}

.recette__div ol {
    padding-left: 18px;
}

.recette__div li {
    font-size: 0.95rem;
    margin-bottom: 6px;
    line-height: 1.45;
}

/* images */
.recette__image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s ease;
}

.recette__figure {
    background: transparent; 
    padding: 10px;
    max-width: 240px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    border: 1px solid #565151; /* ligne grise fine */
    transform: rotate(-5deg);
    transition: transform 0.3s ease;
    border-radius: 12px;       /* coins arrondis */
}

.recette__img {
    width: 100%;
    display: block;
}

.recette__figcaption {
    margin-top: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: rgba(128, 128, 128, 0.5); /* gris transparent */
    padding: 4px 6px;
    border-radius: 4px; /* coins arrondis */
}

.recette__image:hover .recette__figure {
    transform: rotate(0deg) !important;
}

/*Images gauche/droite*/

/* Article image gauche */
.recette.gauche {
    display: grid;
    grid-template-columns: 260px 1fr 1fr;
}

.recette.gauche .recette__image {
    transform: rotate(-5deg);
}

/* Article image droite */
.recette.droite {
    display: grid;
    grid-template-columns: 1fr 1fr 260px;
}

.recette.droite .recette__image {
    transform: rotate(5deg);
}



/**BOUTON MAISON*/

.btn-home {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(34, 44, 86);
  color: #000;
  font-size: 24px;
  padding: 12px 16px;
  text-decoration: none;
  transition: transform 0.2s, background-color 0.2s;
  z-index: 9999;
}

.btn-home:hover {
  background-color: #0040ef;
  transform: scale(1.1);
}


/* Responsive */
@media (max-width: 1000px) {
    .recette {
        grid-template-columns: 1fr;
    }
    .recette__figure {
        transform: rotate(0deg);
        margin-top: 20px;
    }
}